/* * * * * * * * * * * * * * * * * * * * *
  Sizes
* * * * * * * * * * * * * * * * * * * * */
$defaultGridBase: 8px;
$defaultGridGap: 12;
$defaultSidebarWidth: $defaultGridBase * floor(350px / $defaultGridBase);
$defaultSidebarWidthWithMargin: $defaultSidebarWidth + 11px;

$sizesList: (xsmall small large);
$sizeRatio: (
    xsmall: 0.5,
    small: 0.8,
    large: 1.5
);

$sizesFonts: (
    xxsmall: 0.7em,
    xsmall: 0.8em,
    small: 0.9em,
    medium: 1em,
    large: 1.2em,
    xlarge: 1.8em,
    xxlarge: 2em
);

@function Size($size) {
    $sizes: (
        xsmall: 5px,
        small: 10px,
        medium: 15px,
        large: 25px,
        xlarge: 35px
    );

    @return map-get($sizes, $size);
}

@mixin fontSize($size: medium) {
    font-size: map-get($sizesFonts, $size);
}

@function Grid($n) {
    @return $n * $defaultGridBase;
}

@function Nearest($n) {
    @return $defaultGridBase * round($n / $defaultGridBase);
}
