@import '../../../shared/sizes.scss';

.view {
    display: flex;

    &[data-horizontal] {
        flex-direction: row;
    }

    &[data-vertical] {
        flex-direction: column;
    }

    &[data-space='between'] {
        justify-content: space-between;
    }

    &[data-space='around'] {
        justify-content: space-around;
    }

    &[data-space='center'] {
        justify-content: center;
    }

    &[data-space='end'] {
        justify-content: flex-end;
    }

    &[data-space='start'] {
        justify-content: flex-start;
    }

    &[data-fill] > * {
        width: 100%;
    }

    &[data-align] {
        align-items: center;
    }

    &[data-grow] > * {
        flex: 1;
    }

    @for $i from 1 through $defaultGridGap {
        &[data-gap='#{$i}'] {
            &[data-vertical] {
                > * {
                    margin-bottom: Grid($i);
                }
                > *:last-child {
                    margin-bottom: 0;
                }
            }
            &[data-horizontal] {
                > * {
                    margin-right: Grid($i);
                }
                > *:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
