@import './shared/colors.scss';
@import './shared/sizes.scss';

.view {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;

  .header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .name {
      color: $green;
      font-size: 4rem;
      text-transform: uppercase;
    }
  }
}
